# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Visual Studio
.vs/
bin/
obj/
Debug/
Release/
ipch/
*.user
*.suo
*.opensdf
*.sdf
Final

# nuget
packages/
/SoundSwitch/Properties/UpdateFormStrings.fi.resx
/SoundSwitch/Properties/TrayIconStrings.fi.resx
/SoundSwitch/Properties/SettingsString.fi.resx
/SoundSwitch/Properties/Resources.fi.resx
/SoundSwitch/Properties/Notifications.fi.resx
/SoundSwitch/Properties/AboutStrings.fi.resx
/SoundSwitch160228.vspx
/SoundSwitch.VC.VC.opendb
/SoundSwitch.VC.db
/SoundSwitch.psess

