<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SoundSwitch.Properties.Settings>
            <setting name="ActiveDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDevices" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPopups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyModifierKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedDevicesDelimiter" serializeAs="String">
                <value>;;;</value>
            </setting>
        </SoundSwitch.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
