<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.12.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="TracerX-Logger" version="6.1" targetFramework="net452" />
</packages>