<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="1.4.1" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net462" />
  <package id="NAudio" version="1.8.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="TracerX-Logger" version="6.1" targetFramework="net462" />
</packages>