<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.0" targetFramework="net462" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="1.3.1" targetFramework="net462" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net452" />
  <package id="NAudio" version="1.8.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="TracerX-Logger" version="6.1" targetFramework="net452" />
</packages>